body {
    font-family: Arial,  sans-serif; /* шрифт */
    font-size: 11px; /* Размер основного шрифта */
    background-color: #5988FF; /* Цвет фона страницы */
    color: #D6FF6B; /* Цвет основного текста */ 
    font-family:'Bradley Hand', cursive ; /* Используем шрифт*/
}
h1 {
    color: #FD98FB; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* шрифт */
    border-bottom: 2px solid #FFFFFF; /* Граница снизу */
    padding-bottom: 10px; /* Отступ снизу */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

img {
    width: 500px; /* Установите желаемую ширину */
    height: auto; /* Высота будет изменяться автоматически */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}
